html, body {
    height: 100%;
    background: #ededed;
}

header h1 small:before  {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.6em;
}

article header{
    padding: 0;
    overflow: hidden;
}

article footer {
    background: none;
}

article {
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.date {
    float: right;
}

summary {
    font-weight: 700;
    line-height: 1.5;
}

footer {
    background: #262626;
    border: 0;
}
footer * {
    line-height: inherit;
}
.push, footer {
    height: 70px;
    margin-top: 0;
}

.icons li a {float:right;}
.icons li img {margin-top: 5px;margin-left: 5px;}
.ink-navigation ul.menu.horizontal li a { padding: 0.5em 0.5em;}
.ink-navigation ul.menu.black {
    background: #262626 none repeat scroll 0% 0%;
}

.ink-tabs .tabs-content { margin-top: 0px; }
.tabs-content{background-color: #262626; padding: 10px;color: #c3c3c3;border-bottom-left-radius: 0.5em;border-bottom-right-radius: 0.5em}
.tabs-nav{margin: 0 auto;}
.tabs-nav a {color: #555;}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
    overflow: auto;
}
